body {
  color: #ffffff;
}

.temperature {
  font-size: 90px;
  margin: 0;
  padding: 0;
}

#temperature-unit,
.link {
  color: purple;
  text-decoration: none;
  /* color: #1ab5ed; */
}

.github-link {
  text-decoration: none;
  color: #0b5ed7;
}

small {
  color: #000000;
  text-align: center;
}
